*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}
html {
    scroll-behavior: smooth;
  }
  
.alert {
    position: fixed;
	box-sizing: border-box;
	background-color: #72dfae;
	width: 100%;
	position: relative; 
	top: 0;
	left: 0;
	z-index: 300;
	padding: 20px 40px;
	color: #333;
    margin-bottom: 0;

}

.home {
    background-image: url("pexels-valdemaras-d-1647962.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -10;
}

.greeting{
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    background: transparent;
    /* filter: blur(2px); */
    border: solid 2px white;
    font-weight: 15%;
}

.card h1{    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 60px;
    color: white;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;

}

.me{
    display: flex;
    justify-content: center;
}


.first-col{
    color: #eaeced;
    background-color: #1d2d3c;
    float: left;
    width: 30%;
    height: 2700px;  
}

.foto{
    width: 50%;
    margin-bottom: 40px;
    padding-top: 100px;
}

.name{
    font-size: 50px;
}

.prof{
    margin-bottom: 70px;
}

.col1-text{
    width: 85%;   
}

.col1-text h3{
    font-weight: bold;
    padding-bottom: 10px;
}

p{
    font-size: 20px;
}

.profile{
    margin-left: 10%;
    margin-bottom: 70px;
}

.contact{
    margin-left: 10%;
    margin-bottom: 50px;
}

.contact ul{
    font-size: 20px;
    list-style: none;
    background-color: transparent;
    padding: 0;
}


.buttons{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.btn{
    color: white;
    background-color: transparent;
    min-width: 300px;
    max-width: 300px;
    border-radius: 3px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}

.btn:hover{
    transform: translateY(-0.50em);
    transition: 500ms;
}

.linkedin{
    color: #0d6efd;
    border: solid 1px #0d6efd;
}

.linkedin:hover{
    color: white;
    background-color: #0d6efd;
}

.github{
    font-weight: 400;
    color: white;
    border: solid 1px white;
}

.github:hover{
    color: black;
    background-color: white;
}


.spotted{
    color: #198754;
    border: solid 1px #198754;
}

.spotted:hover{
    color: white;
    background-color: #198754;
}



.email{
    color: #ffc107;
    border: solid 1px #ffc107;
}

.email:hover{
    color: black;
    background-color: #ffc107;
}


.download{
    color: #ff3548;
    border: solid 1px #ff3548;
}

.download:hover{
    color: white;
    background-color: #ff3548;
}


/* __________________________________SECOND COLUMN____________________________________________ */
.second-col{
    background-color: #eaeced;
    float: right;
    width: 70%  ;
    height: 2700px;
}

.pdf{
    text-decoration: none;
}


.second-col h3{
    font-size: 35px;

}

.items{
    margin-bottom: 50px;
}

.items:hover{    
    border-left: solid #1d2d3c;
    padding-left: 1%; 
    width: fit-content;
    transition: 400ms;
}

.work{
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 75px;
}

.title{
    color: #eaeced;
    border: solid #1e2e3d;
    border-radius: 7px;
    padding: 20px;
    width: fit-content;
    background-color: #1d2d3c;
    margin-bottom: 20px;
}

.title:hover{
    transition: 500ms;
    transform: translateY(-0.50em);
    cursor: pointer;
}

.nav-toggle{
    display: none;
}

.content{
    margin-left: 30px;
    display: none;
}

.nav-toggle:checked ~ .content{
    display: block;
}

.education{
    margin-left: 75px;
    margin-bottom: 75px;
}

.education_title:hover{
    transition: 500ms;
    transform: translateY(-0.50em);
    cursor: pointer;
}

.education_title{
    color: #eaeced;
    border: solid #1e2e3d;
    border-radius: 7px;
    padding: 20px;
    width: fit-content;
    background-color: #1d2d3c;
    margin-bottom: 20px;
}

.edu-toggle{
    display: none;
}

.education_content{
    margin-left: 30px;
    display: none;
}

.edu-toggle:checked ~ .education_content{
    display: block;
}

.carouselExampleCaptions{
    display: flex;
    justify-content: center;
} 



.skills{
    margin-left: 75px;
}

.carousel-inner{
    margin-top: 50px;
    margin-bottom: 50px;

}

.carousel-inner img{
    max-height: 300px;
    min-height: 300px;
}

.carousel-inner p{
    font-size: 30px;
    color: black;
}

.carousel-inner h5{
    font-weight: normal;
    color: white;
    font-size: 30px;
}

.virtues{
    display: flex;
    justify-content: center;
}

.virtue{
    border: solid #1d2d3c;
    border-radius: 5px;
    text-align: center;
    padding: 15px 80px 30px 80px;
    margin: 10px; 
    min-width: 400px;
}

.virtue:hover{
    transform: translateY(-0.50em);
    box-shadow: 0 0.5em 0.5em -0.4em;
    transition: 400ms;
    background-color: rgb(40, 51, 75);
    color: white;
}

.virtue h5{
    font-size: 15px;
    color: rgb(40, 51, 75);
}

.subtext{
    max-width: 200px;
    color: transparent;
    display: block;
    justify-content: center;
}

.virtue:hover .subtext{
    color: white;
}




/* ______________________________________________MEDIA QUERY______________________________________________ */

@media (max-width:1080px){
    
    .first-col{
        height: fit-content;
        float: none;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .second-col{
        height: fit-content;
        float: none;
        width: 100%;
        align-items: center;
    }
/* 
    #btn{
        margin-bottom: 20px;
    } */
    .work{
        padding-top: 50px;
        margin-top: 0px;
    }

    .virtue h6{
        margin-left: 17%;
    }
}

@media(max-width: 600px){

    .work{
        text-align: left;
        margin-left: auto;

    }
    .education{
        text-align: left;
        margin-left: auto;

    }
    .skills{
        text-align: center;
        margin-left: auto;   
        align-items: center;
    }

    .work h3{
        font-size: 25px;
    }

    .work h4{
        font-size: 15px;
    }
    .education h3{
        margin-right: 80px;
        font-size: 25px;
    }

    .education h4{
        font-size: 15px;
    }

    .title{
        text-align: left;
        border-radius: 0px 5px 5px 0px;
    }
    .education_title{
        text-align: left;
        border-radius: 0px 5px 5px 0px;
        width: 90%;
    }

}

@media (max-width:650px) {
    .virtue{
       padding: 10px 20px 10px 20px;
    }
}

@media (max-width:850px) {
    .virtue{
        min-width: 40%;
    }
    .virtue h6{
        margin-left: 0;
    }
}

@media (min-width:1080px){
    .virtue{
        min-width: 300px;
    }
}