*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

.popup{
    width: 100%;
}

.alert {
    z-index: 110;
    position: fixed;
	box-sizing: border-box;
	background-color: #72dfae;
	width: 100%;
	padding: 20px 40px;
	color: #333;
    top: 0px;
    transform: scale(0, 0);
}

.alert h2{
    font-size: 20px;
}

.alert p{
    font-size: 15px;
}

.home {
    background-image: url("pexels-valdemaras-d-1647962.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -10;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    background: transparent;
    border: solid 2px white;
    font-weight: 15%;
    z-index: -5;
    position: absolute;
    opacity: 1;
    transition: ease-in-out 0.5s;
    z-index: 100;
}

.card:hover{
    backdrop-filter: blur(20px);
    transition: ease-in-out 0.5s;
}

.visible{    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 60px;
    color: white;
    opacity: 1;
    transition: ease-in-out 1.5s;
}

.arrows{
    margin-top: 270px;
    padding-top: 20px;
    display: flex;
    z-index: 300;
    flex-direction: column;
}

.arrow{
    /* position: absolute; */
    margin-top: 0px;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    opacity: 1;
    transition: ease-in-out 1.5s;
    cursor: pointer;
}

.arrow:hover{
    transform: translateY(-0.1em);
    transition: ease-in 0.1s;
    transition: ease-out 0.1s;
}

.invisible{
    opacity: 0;
}

.greeting{
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.me{
    display: flex;
    justify-content: center;
}

.col-container{
    display: table;
}

.first-col{
    display: table-cell;
    color: #eaeced;
    background-color: #1d2d3c;
    width: 30%;
    height: 100%;  
}

.zgjatu{
    height: 1500px;
}

.akoma{
    height: 1000px;
}

.foto{
    width: 50%;
    margin-bottom: 40px;
    padding-top: 100px;
}

.name{
    font-size: 50px;
}

.prof{
    margin-bottom: 70px;
}

.col1-text{
    width: 85%;   
}

.col1-text h3{
    font-weight: bold;
    padding-bottom: 10px;
}

p{
    font-size: 20px;
}

.profile{
    margin-left: 10%;
    margin-bottom: 70px;
}

.contact{
    margin-left: 10%;
    margin-bottom: 70px;
}

.contact ul{
    font-size: 20px;
    list-style: none;
    background-color: transparent;
    padding: 0;
}


.buttons{
    display:flex;
    justify-content: center;
    margin-bottom: 25px;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.btn{
    color: white;
    background-color: transparent;
    min-width: 300px;
    width: 70%;
    border-radius: 3px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}

.btn:hover{
    transform: translateY(-0.50em);
    transition: 500ms;
}

.linkedin{
    color: #0d6efd;
    border: solid 1px #0d6efd;
}

.linkedin:hover{
    color: white;
    background-color: #0d6efd;
}

.github{
    font-weight: 400;
    color: white;
    border: solid 1px white;
}

.github:hover{
    color: black;
    background-color: white;
}


.spotted{
    color: #198754;
    border: solid 1px #198754;
}

.spotted:hover{
    color: white;
    background-color: #198754;
}



.email{
    color: #ffc107;
    border: solid 1px #ffc107;
}

.email:hover{
    color: black;
    background-color: #ffc107;
}


.download{
    color: #ff3548;
    border: solid 1px #ff3548;
}

.download:hover{
    color: white;
    background-color: #ff3548;
}


/* __________________________________SECOND COLUMN____________________________________________ */
.second-col{
    display: table-cell;
    background-color: #eaeced;
    width: 70%;
    height: fit-content;
}

.second-col h3{
    font-size: 35px;
}

.items{
    margin-bottom: 50px;
    border-left: solid transparent;

}

.items:hover{    
    border-left: solid #1d2d3c;
    padding-left: 7px; 
    width: fit-content;
    transition: ease-in-out 0.35s;
}

.work{
    margin-left: 75px;
    margin-bottom: 50px;
}

.title{
    color: #eaeced;
    border: solid #1e2e3d;
    border-radius: 7px;
    padding: 20px;
    width: fit-content;
    background-color: #1d2d3c;
    margin-bottom: 20px;
}

.toggle_arrow{
    transform: rotate(-180deg);
    transition: ease-in-out .25s;

}

.rotate{
    transform: rotate(0deg);
    transition: ease-in-out .25s;
}

.edu_arrow{
    transform: rotate(-180deg);
    transition: ease-in-out .25s;
}
.rotateEdu{
    transform: rotate(0deg);
    transition: ease-in-out .25s;
}

.nav-toggle{
    display: none;
}

.content{
    margin-left: 30px;
    display: none;
}

.nav-toggle:checked ~ .content{
    display: block;
}

.education{
    margin-left: 75px;
    margin-bottom: 50px;
}

.education_title{
    color: #eaeced;
    border: solid #1e2e3d;
    border-radius: 7px;
    padding: 20px;
    width: fit-content;
    background-color: #1d2d3c;
    margin-bottom: 20px;
}

.edu-toggle{
    display: none;
}

.education_content{
    margin-left: 30px;
    display: none;
}

.edu-toggle:checked ~ .education_content{
    display: block;
    transition: ease-in-out .5s;
}

.carouselExampleCaptions{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.skills{
    margin-left: 75px;
}

.carousel-inner{
    margin-top: 50px;
    margin-bottom: 50px;

}

.carousel-inner img{
    max-height: 300px;
    min-height: 300px;
}

.sql{
    width: 10%;
}

.carousel-inner p{
    font-size: 30px;
    color: black;
}

.carousel-inner h5{
    font-weight: normal;
    color: white;
    font-size: 30px;
}

.virtuozo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: fit-content;
}

.virtues{
    display: flex;
    justify-content: center;
    align-items: center;

}

.virtue{
    border: solid #1d2d3c;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding: 30px 80px 30px 80px;
    width: 400px;
    height: 400px;
}

.rapper{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    /* margin-right: 10px; */
}

.wrapper{
    width: 350px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

  .wrapper .virtue{
    position: absolute;
    color: #1d2d3c;
    height: 100%;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
    display: flex;
    justify-content: center;
  }
  .wrapper:hover > .front-picture{
    transform: rotateY(-180deg);
  }

  .wrapper .back-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    transform: rotateY(180deg);
    color: white;
    background: #1d2d3c;
    /* font-size: small; */
  }
  .wrapper:hover > .back-picture{
    transform: rotateY(0deg);
  }


/* ______________________________________________MEDIA QUERY______________________________________________ */

@media (max-width:1080px){
    .col-container{
        display: block;
        height: fit-content;
    }

    .first-col{
        display: block;
        height: fit-content;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .second-col{
        display: block;
        height: 120%;
        width: 100%;
        align-items: center;
        padding-bottom: 50px;
    }

    .work{
        padding-top: 50px;
        margin-top: 0px;
    }

    .alert{
        display: none;
        transform: scale(1, 1);
    }
    .virtuozo{
        margin-bottom: 0px;
    }
}

@media(max-width: 600px){

    .work{
        text-align: left;
        margin-left: auto;

    }
    .education{
        text-align: left;
        margin-left: auto;
    }
    .skills{
        text-align: center;
        margin-left: auto;   
        align-items: center;
    }

    .work h3{
        font-size: 25px;
    }

    .work h4{
        font-size: 15px;
    }
    .education h3{
        margin-right: 80px;
        font-size: 22px;
    }

    .education h4{
        font-size: 15px;
    }

    .title{
        text-align: left;
        border-radius: 0px 5px 5px 0px;
    }
    .education_title{
        text-align: left;
        border-radius: 0px 5px 5px 0px;
        /* width: fit-content; */
    }

}

@media (max-width:800px) {    
    .virtues{
        display: block;
    }
    .rapper{
        margin-left: 0px;
    }
}

@media (max-width:700px) {
    .card{
        width: 80%;
    }
    .card h1{
        font-size: 35px;
    }
    .arrows{
        margin-top: 220px;
    }
    .arrow{

        font-size: 35px;
    }
}

@media (max-width:400px) {
    .wrapper{
        width: 280px;
    }
}