*{
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

.first-col{
    color: #eaeced;
    background-color: #1d2d3c;
    float: left;
    width: 30%;
    height: 2500px;  
}

.foto{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;
    padding-top: 100px;
}

.name{
    text-align: center;
    font-size: 50px;
}

.prof{
    text-align: center;
    margin-bottom: 70px;
}

.col1-text{
    width: 85%;   
}

.col1-text h3{
    font-weight: bold;
}

p{
    font-size: 20px;
}

.profile{
    margin-left: 10%;
    margin-bottom: 70px;
}

.contact{
    margin-left: 10%;
    margin-bottom: 50px;
}

.contact ul{
    font-size: 20px;
    list-style: none;
    padding-left: 0px;
}

.link_buttons{
    align-items: center;
    margin-left: 23%;
    margin-bottom: 50px;
}

#btn{
    margin-left: 19%;
    margin-bottom: 10px;
}







/* ____________SECOND COLUMN___________ */
.second-col{
    background-color: #eaeced;
    float: right;
    width: 70%  ;
    height: 2500px;
}

.pdf{
    text-decoration: none;
}

.download{
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
}

.second-col h3{
    font-size: 35px;

}

.items{
    margin-bottom: 50px;
}

.items:hover{    
    border-left: solid #1d2d3c;
    padding-left: 1%; 
    width: fit-content;
    transition: 400ms;
}

.work{
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 75px;
}

.title{
    color: #eaeced;
    border: solid #1e2e3d;
    padding: 20px;
    width: fit-content;
    background-color: #1d2d3c;
    margin-bottom: 20px;
}

.title:hover{
    padding: 25px;
    transition: 500ms;

}

.content{
    margin-left: 30px;
}

/* 
.raise:hover,
.raise:focus {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);

}


button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }
  

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  } */

.education{
    margin-left: 75px;
    margin-bottom: 75px;
}

.skills{
    margin-left: 75px;
}

.row{
    margin-left: 10%;
}


.slider{
    /* border: solid white;
    background-color: white; */
    margin-right: 10%;
    height: 500px;
    width: auto;
}

/* 
.slider img{
    height: 300px;
    width: auto;
    object-fit: fill;
} 
 */

.virtues{
    border: solid #1d2d3c;
    padding: 2%;
    margin: 1%;
    text-align: center;
}

.virtues:hover{
    transform: translateY(-0.50em);
    box-shadow: 0 0.5em 0.5em -0.4em;
    transition: 400ms;
    background-color: #538295;
    border: solid #538295;
}

h5{
    font-size: 18px;
    font-weight: bold;
    color: #1d2d3c;
}