*{
    font-family: Arial, Helvetica, sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body{
    margin: 0;
}

#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(220, 53, 69, 0.7);
}

form{
    max-width: 550px;
    width: 90%;
    background: white ;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}

h1{
    margin: 0;
    text-align: center;
}

label{
    display: block;
    margin: 20px 0;
}

input, textarea{
    width: 100%;
    pad: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #bcbcbc;
}

input[type = "text"]:focus, textarea:focus{
    border-bottom: 1px solid black;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: purple;
}

.center{
    text-align: center;

}

input[type="submit"] {
    padding: 10px;
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(212, 19, 39),rgb(218, 94, 106));
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

.error{
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success{
    color: green;
}